.body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .joinOuterContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #ffffff;
    color: black;
  }
  
  .joinInnerContainer {
    width: 100%;
    display: flex;
    padding-right: 10px;
    justify-content: center;
  }
  
  .joinInput {
    background: rgb(241, 241, 241);
    outline: none;
    border: none;
    margin: 10px 10px;
    padding: 10px 10px;
    width: 80%;
    border-radius: 4px;
  }
  
  .heading {
    color: rgb(0, 0, 0);
    font-size: 1em;
    border-bottom: 1px solid white;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
      height: 100%;
    }
    .joinInnerContainer {
      width: 90%;
    }
  }
  
  button:focus {
    outline: 0;
  }
  