.form1 {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.input1 {
  border: none;
  border-radius: 0;
  padding: 2%;
  width: 80%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton1 {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #fbb637;
  padding: 10px;
  display: inline-block;
  border: none;
  width: 100%;
}
